.slide p{
margin-top:30px;
font-size:20px;
}

.cosmo{
height:400px;

}


.cosmo img{
position:static;
float:left;
}
.cosmolist li{
font-size:20px;		
}
.serv1 h2, .serv2 h2, .serv3 h2{
font-size:15px;
}
.services ul{
font-size:16px;
line-height:25px;			
}

.services h2{	   
font-size:18px;  
}
.services p{  
   font-size:16px;  		   
}

.cosmo p{
   font-size:17px;
}

.cosmo h2{margin-top:30px;}



.price{
	font-size:18px;
	padding-top:50px;
}

sub{
font-size:15px;
line-height:17px;
}

.cosmetics{	
font-size:16px;
}


.cosmetics{
	padding-top:35px;	
}

.contacts{
	padding-top:30px;
}

.form{
	display:none;	
}

.form2{
	display:block;;	
}


	
}
form{
   margin-left:0;
}

textarea{		
	height:155px;
}

.advices p{	  
   font-size:15px;
}

.resalt{border:none;}

.advices{padding-top:35px;} 

.certificate{
	padding-top:35px;
}

.menu li{
	width:16%;
}




